.videos {
  display: flex;
  flex-direction: column;
  gap: 2em;


  .streams {
    display: flex;
    justify-content: space-around;

   
  }

  .icons {
    align-self: center;

    .icon {
      cursor: pointer;
      font-size: 40px;
      margin: 5px;
    }
}
}