.videos {
  display: flex;
  flex-direction: column;
  gap: 2em;

  .streams {
    display: flex;
    justify-content: space-around;

    @media (max-width: 540px) {
      flex-direction: column;

      .mystream {
        width: 50px;
      }

      .remotestream {
        min-width: 20px;
      }
    }
  }

  .icons {
    align-self: center;

    .icon {
      cursor: pointer;
      font-size: 40px;
      margin: 5px;
    }
  }
}
