// .video-call-container {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
//     height: 100vh;
//   }
  
//   .local-video-container {
//     width: 400px;
//     height: 300px;
//     margin-bottom: 20px;
//   }
  
//   .local-video {
//     width: 100%;
//     height: 100%;
//     background-color: #000;
//   }
  
//   .remote-video-container {
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: center;
//     gap: 20px;
//   }
  
//   .remote-video {
//     width: 300px;
//     height: 225px;
//     background-color: #000;
//   }
  
//   .join-button {
//     padding: 10px 20px;
//     background-color: #4285f4;
//     color: #fff;
//     font-size: 16px;
//     border: none;
//     border-radius: 4px;
//     cursor: pointer;
//   }
  
//   // Add any additional styling as needed
  

.video-call-container {
    display: column;
    width: 100%;
    height: 100%;
    position: relative;


  .local-video-container {
    width: 500px;
    height: 800px;
    margin-bottom: 20px;
  }
  
  .local-video {
    width: 100%;
    height: 100%;
    background-color: #000;
  }
  
  .remote-video-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    position: absolute;
    z-index: 999;
    top: 0;
  }
  
  .remote-video {
    width: 200px;
    height: 125px;
    background-color: #000;
  }

  .buttons{
    
  }
  

}