.videos {
  display: flex;
  flex-direction: column;
  padding: 30px;

  .streams {
    padding: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-self: center;
    justify-self: center;

    video {
      background-color: black;
      width: 800px;
      height: 600px;
    }
  }

  .icons {
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-self: center;

    .icon {
      cursor: pointer;
    }
  }
}


@media (max-width: 1280px) {
  .videos {
    padding-top: 3px;
    .streams {
      justify-self: center;
      height: 400px;
      width: 300px;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      video {
        width: 40vw;
        height: 400px;
      }
    }

    .icons {
      padding-top: 15px;
    }
  }
}

@media (max-width: 1000px) {
  .videos {
    padding-top: 20px;
    .streams {
      justify-self: center;
      height: 700px;
      width: 600px;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      video {
        width: 80vw;
        height: 400px;
      }
    }

    .icons {
      padding-top: 50px;
    }
  }
}




@media (max-width: 768px) {
  .videos {
    padding: 0;
    overflow-x: hidden;
    .streams {
      height: 500px;
      width: 400px;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      video {
        width: 80vw;
        height: 500px;
      }
    }
    .icons {
      padding-top: 30px;
    }
  }
}

