.admin_home {
  .scrollbox {
    background-color: pink;
    height: 200px;
    display: flex;
    overflow-x: scroll;
    width: 1500px;

    .scrollcontent {
      border: 1px solid black;
      width: 300px;
      background-color: blue;
      text-align: center;
      margin: 5px;
    }
  }

  .charts {
    margin: 5px;
    .chart {
      width: 700px;

    }
  }
}
