.admin_home {
  overflow-x: scroll;
  width: 80vw;
  @media only screen and (max-width: 600px) {
    width: 100vw;
  }
  .scroll_box {
    height: 200px;
    display: flex;
    width: fit-content;

    .scroll_content {
      display: flex;

      .scrollitem {
        width: 300px;
        background-color: #454545;
        text-align: center;
        margin: 5px;
        color: whitesmoke;
      }
    }
  }

  .charts {
    display: flex;
    overflow-x: scroll;
    width: 80vw;
    margin-top: 10px;
    &::-webkit-scrollbar{
      display: none;
    }

    @media only screen and (max-width: 600px) {
      width: 100vw;
      &::-webkit-scrollbar{
        display: none;
      }
    }
    .chart {
      width: 700px;
      height: 300px;
    }
  }
}
