@import "../../styles.scss";

.home{
  position: relative;
  .notification{
    top: 0;
    left: 0;
    position: absolute;
  }
  @include themify($themes) {
    padding: 20px 70px;
    background-color: themed("bgSoft");

    @include mobile {
      padding: 10px;
    }

    @include tablet{
      padding: 20px;
    }
  }
 }